.app-header {
    background-color: #5e695a;
    padding: 1rem;
    color: white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-nav {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
}

.greet-user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
